<div class="row">
    <div class="col-md-12">
        <form class="well" (submit)="addTask($event)">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">@</span>
                <input type="text" [(ngModel)]="title" class="form-control" name="title" placeholder="Add Task" aria-describedby="sizing-addon1">
            </div>
        </form>
    </div>
</div>
<div class="task-list">
	<div *ngFor="let task of tasks">
    <div class="col-md-1">
        <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
    </div>
    <div class="col-md-7">
       {{task.title}}
    </div>
    <div class="col-md-4">
        <input type="button" (click)="deleteTask(task._id)" class="btn btn-danger" value="Delete">
    </div>
    <br>
    </div>
</div>
